.gradle/
.idea/
build/
*.iml
git commit -m 'Updated project structure
     Co-authored-by: Xptm15 <xavidosantos@gmail.com>
     Co-authored-by: Educpf <00.eduardoportugal.00@gmail.com>
     Co-authored-by: Oferecido <ricardo.parreira.tic@gmail.com>'
